body {
  background-color: #2c2c2d;
  color: #fff;
  font-family: sans-serif;
}

.flex-container {
  display: flex;
  flex-wrap: wrap;
}

.flex-item {
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: 5rem;
}

.box.yellow {
  flex: 0 1 10rem;
}

/* Estilos auxiliares */

.box {
  background-color: #4547c7;
  border: 2px solid #272727;
  min-height: 1rem;
  min-width: 10rem;
}

.box.red {
  background-color: #ff665c;
}

.box.yellow {
  background-color: #f9ff58;
  height: 20rem;
}

.box.blue {
  background-color: #5255eb;
  height: 5rem;
}