* {
    box-sizing: border-box;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
    text-align: center;
}

:root {
    --background-color: #fff;
    --color-card: #f8f8f8;
    --header-color: #232323;
    --color-orange: #ffa604;
}

body {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
header {
    background-color: var(--header-color);
    color: var(--background-color);
    position: relative;
    padding: 1.5rem;
}

nav {
    text-align: center;
    margin: 0 auto;
}

li {
    display: inline;
}

li + li {
    margin-left: 3rem;
}

a {
    display: inline;
    text-decoration: none;
    color: #fff;
    font-weight: bold;
}

section {
    margin-bottom: 4rem;
}

.hero {
    position: relative;
    background-image: url("assets/pexels-narda-yescas-1566837.jpg");
    background-size: cover;
    object-position: right; 
    min-height: 75vh;
    color: var(--background-color);
    padding: 10rem 0;
}

.hero h1 {
    font-size: 4rem;
    font-weight: 100;
    margin-bottom: 1.5rem;
}

.hero p {
    margin-bottom: 2rem;
    font-size: 1.25rem;
}

.cta-button {
    background-color: var(--color-orange);
    font-weight: 600;
    border-radius: .5rem;
    color: var(--header-color);
    padding: .75rem 1.25rem;
}

h2 {
  font-size: 3rem;
  font-weight: 700;
  margin: 1.5rem 0;
}

p {
  font-size: 1.25rem;
}

.menu-list {
    list-style: none;
}

.menu-list > li {
    background-color: var(--color-card);
    color: var(--header-color);
    border-radius: .5rem;
    box-shadow: 0 4px 12px -4px rgba(0, 0, 0, 0.5);
    display: inline-block;
    margin: 2rem;
    width: 28rem;
    height: 28rem;
}

.menu-list img {
  border-top-left-radius: .5rem;
  border-top-right-radius: .5rem;
  object-fit: cover;
  width: 100%;
}

.menu-list h3,
.menu-list p {
    text-align: left;
  padding: 1rem 1.25rem 0;
}

#about {
background-image: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0) 0%,
    rgba(0, 0, 0, 0.8) 100%
    ),
    url("assets/pexels-eneida-nieves-905847.jpg");
    background-position: 100%;
    color: var(--background-color);
    padding: 4rem 0;
}

address {
    margin: 2rem 0;
}

address > * {
    display: inline-block;
    margin: 1.5rem;
    text-align: left;
    font-style: italic;
}

address a {
    color: var(--color-orange);
    font-weight: lighter;
}

footer {
    background-color: var(--header-color);
    color: var(--color-orange);
    padding: 2rem;
    text-align: center;
}