body {
  background-color: #2c2c2d;
  color: #fff;
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 0;
}

.flex-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  min-height: 80vh;

}

.box {
  background-color: #4547c7;
  border: 2px solid #272727;
  height: 3rem;
  width: 3rem;
}

.box.red {
  background-color: #ff665c;
}

.box.yellow {
  background-color: #f9ff58;
  height: 20rem;
}

.box.blue {
  background-color: #5255eb;
  height: 15rem;
}