* {
  color: #fff;
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 0;
  text-decoration: none;
  box-sizing: border-box;
}

a {
  color: inherit;
}

header {
  display: flex;
  justify-content: space-between;
  position: sticky;
  top: 0;
  z-index: 10;
  padding: 1rem 4rem;
  align-items: center;
  color: #e16868;
  background-color: rgba(255, 255, 255, 0.75);
  width: 100%;
}

header > nav {
  display: flex;
  gap: 2rem;
  align-items: center;
  color: #e16868;
}

nav > a:hover {
  text-decoration: underline;
}

.call-to-action > a {
  background-color: #e16868;
  border: #912d2d solid 2px;
  border-radius: 0.5rem;
  color: #fff;
  padding: 0.5rem 1rem;
  text-decoration: none;
}

header > .call-to-action > a {
  font-size: 0.9rem;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  min-width: 100%;
  position: absolute;
  top: 0;
}

main > h2 {
  font-size: 4rem;
  text-align: center;
  text-shadow: 0 3px 3px #000000c7;
  color: #dda2a2;
  margin-bottom: 1rem;
}

.call-to-action {
  display: flex;
  gap: 2rem;
}

.call-to-action a {
  border-color: #fff;
  font-size: 1rem;
}

.call-to-action a:hover {
  background-color: #d14b4b;
}

.bg-img {
  width: 100%;
  display: block;
}


footer {
  display: flex;
  justify-content: start;
  align-items: center;
  height: 60px;
  padding: 0 2rem;
  position: fixed;
  bottom: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.552);
}

footer nav {
  display: flex;
  gap: 1rem;
  justify-content: space-between;
  flex-direction: row-reverse;
} 
