* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-align: center;
    font-family: "Inter", sans-serif;
}

h1, h2{
    font-family: "Lora", serif;
    font-weight: 400;
    margin-top: 1rem;
    text-transform: capitalize;
}

p {
    font-family: "Inter", sans-serif;
    font-weight: 400;
    font-size: 1rem;
    margin-bottom: 1.25rem;
}

button {
    background-color: transparent;
    border: none;
    border-radius: 9999px;
    padding: 1rem 1.5rem;
    cursor: pointer;
    text-align: center;
    color: white;
    font-weight: 700;
}

.options {
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.options button{
    background-color: #21a4fc;
    text-transform: none;
    color: white;
    font-weight: 700;
    margin-right: 1.25rem;
}

.see-more, .options .see-more {
    text-transform: uppercase;
    background-color: #000;
}

.options button:last-child {
    margin-right: 0;
}

header {
    border-bottom: 1px solid #000;
    margin-top: 1.25rem;
    margin-bottom: 1.25rem;
}

img {
    max-width: 50%;
}

section {
    margin-top: 2.5rem;
    margin-bottom: 3rem;
}

footer {
    padding: 1.25rem;
    background-color: black;
    color: white;
}
footer p {
    margin: 0;
}