body {
  background-color: #2c2c2d;
  color: #fff;
  font-family: sans-serif;
}

.flex-container {
  display: flex;
}

.flex-item {
  width: 5rem;
  /* flex-grow flex-shrink flex-basis */
}

.box.red {
  flex-shrink: 1;
  flex-basis: 15rem;
}

.box.blue{
  flex-grow: 0; /* Valor padrão */
  flex-shrink: 1; /* Valor padrão */
  flex-basis: 1; /* Valor padrão */
}

.box.yellow{
  flex: 1 0 5rem;
}
/* Estilos auxiliares */

.box {
  background-color: #4547c7;
  border: 2px solid #272727;
}

.box.red {
  background-color: #ff665c;
}

.box.yellow {
  background-color: #f9ff58;
  height: 5rem;
}

.box.blue {
  background-color: #5255eb;
  height: 3rem;
}