* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --primary-color: #4c6daf;
  --color-light: #e0e0e0;
  --color-white: #ffffff;
  --color-dark: #2c2c2d;
  --color-dark-hover: #1e1e1f;
  --border-radius-sm: 0.25rem;
  --color-gray-700: #555555;
  --color-gray-500: #777777;
  --color-gray-300: #cccccc;
  --padding-sm: 1rem;
  --shadow-sm: 0 2px 6px rgba(0, 0, 0, 0.2);
}

body {
  background-color: var(--color-light);
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  height: 100vh;
  display: grid;
  grid-template-columns: 16rem 1fr;
  grid-template-rows: 4rem 1fr 3rem;
  grid-template-areas:
    "header header"
    "sidebar content"
    "sidebar footer";
}

header {
  grid-area: header;

  background-color: var(--primary-color);
  color: var(--color-white);
  font-size: 1.5rem;
  padding: 0 var(--padding-sm);
  display: flex;
  align-items: center;
}

.sidebar {
  grid-area: sidebar;
  background-color: var(--color-dark);
  padding: 1rem 0;
}

.sidebar ul {
  list-style: none;
}

.sidebar a {
  text-decoration: none;
  display: block;
  color: var(--color-white);
  padding: 1rem 2rem;
}

.sidebar a:hover {
  background-color: var(--color-dark-hover);
  cursor: pointer;
}

.content {
  grid-area: content;

  display: grid;
  align-content: start;
  gap: 2rem;
  padding: 2rem;
}

.stats-section {
  display: grid;
  align-items: start;
  justify-items: start;
  grid-template-columns: repeat(4, max-content);
  gap: 2rem;
}

.card,
.chart-section,
.table-section {
  background-color: var(--color-white);
  border-radius: var(--border-radius-sm);
  box-shadow: var(--shadow-sm);
  padding: var(--padding-sm);
}

.card {
  text-align: center;
}

.card h3 {
  margin-bottom: 0.5rem;
  color: var(--primary-color);
}

.card p {
  font-size: 1.25rem;
  font-weight: bold;
  color: var(--color-gray-700);
}

.chart-section h2,
.table-section h2 {
  margin-bottom: 1rem;
  color: var(--color-dark);
}

.chart-placeholder {
  background-color: var(--color-gray-300);
  color: var(--color-gray-500);
  display: grid;
  height: 12rem;
  place-content: center;
}

.charts {
  display: grid;
  gap: var(--padding-sm);
  grid-template-areas:
    "chart1 chart2 chart3"
    "chart4 chart4 chart4";
}

#chart1 {
  grid-area: chart1;
}

#chart2 {
  grid-area: chart2;
}

#chart3 {
  grid-area: chart3;
}

#chart4 {
  grid-area: chart4;
}

table {
  border-collapse: collapse;
  width: 100%;
}

table th,
table td {
  border-bottom: 1px solid var(--color-light);
  padding: var(--padding-sm);
  text-align: left;
}

table th {
  background-color: var(--primary-color);
  color: var(--color-white);
}

table tr:hover {
  background-color: var(--color-gray-300);
}

footer {
  grid-area: footer;

  background-color: var(--primary-color);
  color: var(--color-white);
  display: grid;
  place-content: center;
}
